body{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#title-container-top{
    display: flex;
    color: #2C3E50;
    background: rgba(255, 255, 255, 0.3);
    height: 70px;
align-items: center;
justify-content: center;
font-size: x-large;
}
#content-title-signin{
    font-size: x-large;
    color: #2C3E50;
    text-align: center;
}
#content-form-signin{
    display: flex;
    flex-direction: column;
    height: 400px;
    
}
#content-input-signin{
    box-shadow: 10px 5px 5px rgba(19, 19, 19, 0.5);

    display: flex;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.8);
    height: 200px;
    width: 70%;
}
#content-in-input-signin{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
    gap: 10px;
}
.in-input{
    display: flex;
    flex-direction: column;
}
#btn-submit{
    align-self: center;
}
#form-submit{
    border: 2px solid #34495E;
    color: #2C3E50;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
#form-forget{
    background-color: white;
    border: 1px solid #34495E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
#form-forget:hover{
    background-color: #2C3E50;
    color: white;  
}
#form-forget:active{
    background-color: #34495E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#form-submit:hover{
    background-color: #2C3E50;
    color: white;
}
#form-submit:active{
    background-color: #34495E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#footer-info{
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 80px;
}
@media (min-width: 400px){
    #content-input-signin{
        width: 350px;
    }
}
@media (min-width: 610px){
    #title-container-top{
        font-size: xx-large;
    }
}